html {
  height: 100%;
  /* font-size: 62.5%;  */
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -ms-overflow-style: scrollbar;
  -webkit-tap-highlight-color: rgba(34, 42, 66, 0);
}

body {
  height: 100%;
  padding: 0;
  margin: 0;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  line-height: 1.5;
  /* color: #525f7f; */
  color: #fff;
  text-align: left;
  background-color: #1e1e2f;
}
*,
*::after,
*::before {
  box-sizing: border-box;
}

#root {
  height: 100%;
}
