.Dashboard__nav {
  /* margin-bottom: 20px; */
  color: #fff;
  display: flex;
  justify-content: space-between;
  height: 10vh;
  padding: 0 20px;
  align-items: center;
  font-weight: 300;
  border-bottom: 1px solid #3f3f3f;
}
.btn-logout {
  transition: 0.3s;
}
.btn-logout:hover {
  color: rgb(231, 75, 75);
}
.Dashboard__main {
  padding: 20px;
  display: flex;
  height: 90vh;
}
.Dashboard__sideDrawer {
  height: 100%;
  width: 15vw;
  margin-right: 20px;
  border-radius: 10px;
  border: 1px solid #1d1d1d;
  color: #ddd;
  background: linear-gradient(0deg, #3358f4, #1d8cf8);
}
.Dashboard__sideDrawer hr {
  width: 80%;
  height: 1px;
  border: none;
  background-color: #eee;
}
.Dashboard__sideDrawer h3 {
  font-weight: 300;
  text-align: center;
  margin: 20px;
  color: #fff;
}

.Dashboard__sideList {
  font-weight: 300;
  font-size: 0.95rem;
  display: flex;
  flex-flow: column;
  align-items: flex-start;
  padding-left: 2rem;
  margin-top: 20%;
  height: 60%;
  justify-content: space-between;
}
.Dashboard__sideList__item{
  cursor: pointer;
  display: flex;
  align-items: center;
}
.Dashboard__sideList__item i {
  margin-right: 7px;
  font-size: 1.2rem;
}
.Dashboard__sideList__item:hover,
.Dashboard__sideList__item--active {
  color: #fff;
}


.Dashboard__section {
  height: 100%;
  flex: 1;
  border-left: 1px solid #3f3f3f;
  padding-left: 20px;
}